/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

/* header */
.header {
    position: relative;
    height: 95vh;
    background:
        linear-gradient(
            to right bottom,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 133, 0.8)),
        url("../img/hero.jpg")
        top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

/* logo */
.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

/* heading */
.text-box {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.heading-primary-main,
.heading-primary-sub {
    display: block;
    font-weight: 400;
}

.heading-primary-main {
    font-size: 60px;
    letter-spacing: 35px;
    padding-left: 35px;
    animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
    font-size: 20px;
    letter-spacing: 22px;
    padding-left: 22px;
    animation: moveInRight 1s ease-out;
}

/* button */
.btn:any-link {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s ease-in;
    position: relative;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-in;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    padding: 15px 40px;
}

.btn-white:after {
    background-color: #fff;
}

.btn-animated {
    animation: moveInBottom 0.5s ease-in;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}

/* button animation */
.btn:hover:after {
    transform: scale(1.5, 1.7);
    opacity: 0;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}