$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
}

/* header */
.header {
  position: relative;
  height: 95vh;
  background:
    linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
    url("../img/hero.jpg")
    top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

  &__logo {
    height: 3.5rem;

    &-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  }

  &__text-box {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* heading */

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.heading-primary--main,
.heading-primary--sub {
  display: block;
  font-weight: 400;
}

.heading-primary--main {
  font-size: 6rem;
  letter-spacing: 3.5rem;
  padding-left: 3.5rem;
  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  font-size: 2rem;
  letter-spacing: 2.2rem;
  padding-left: 2.2rem;
  animation: moveInRight 1s ease-out;
}

/* button */
.btn:any-link {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s ease-in;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
}

.btn--white {
  background-color: $color-white;
  color: $color-grey-dark;
  padding: 1.5rem 4rem;
}

.btn--white::after {
  background-color: $color-white;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-in;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}

/* button animation */
.btn:hover::after {
  transition: all 0.4s ease-in;
  transform: scale(1.5, 1.7);
  opacity: 0;
}

@mixin moveIn ($from) {
  0% {
    opacity: 0;
    transform: $from
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  @include moveIn(translateX(-10rem));
}

@keyframes moveInRight {
  @include moveIn(translateX(10rem));
}

@keyframes moveInBottom {
  @include moveIn(translateY(3rem));
}